<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Registered</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label form="">Username</label>
                        <input [(ngModel)]="registerUserData.Username" name="Username" type="text"
                            class="form-control rounded-0" required>
                    </div>

                    <div class="form-group">
                        <label form="">Age</label>
                        <input [(ngModel)]="registerUserData.Age" name="Age" type="age"
                            class="form-control rounded-0" required>
                    </div>

                    <div class="form-group">
                        <label form="">Password</label>
                        <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" required>
                    </div>
                    <button (click)="registerUser()" type="button" class="btn btn-success float-right">Register</button>
                </form>
            </div>
        </div>
    </div>