<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Taazaa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActivate="active">Employee</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <a class="nav-link"  routerLink="/Login" routerLinkActivate="active">Login</a>
      <a class="nav-link"  routerLink="/Register" routerLinkActivate="active">Register</a>
      <a class="nav-link" style="cursor:pointer">Logout</a>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>